*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.6);
    background-color: #ECECEC;
}
.header .header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.header .header-container .store-name{
    font-family: 'Great Vibes', sans-serif;
    font-weight: bold;
    color: #3C486B;
}
.header .header-container nav{
    display: flex;
    align-items: center;
}
.header .header-container nav #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-container #navbar .list-item{
    margin-right: 20px;
    list-style-type: none;
    position: relative;
    padding-top: 10px;
}
.header .header-container #navbar .list-item a{
    text-decoration: none;
    color:#3C486B;
}
.header .header-container #navbar .list-item a:hover{
    color: #B2A4FF;
}
.header .header-container nav .icon{
    display: flex;
}
.header .header-container nav .icon .search{
    border: 1px solid #3C486B;
    border-radius: 30px;
}
.header .header-container nav .icon input{
    border: 1px solid transparent;
    outline: 0;
    background-color: #ECECEC;
    color: #555;
   padding: 10px;
    height: 30px;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 0;
}
.header .header-container nav .icon .search-icon{
    border: 0;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-container nav .icon .right-icons{
    margin-left: 50px;
}
.header .header-container nav .icon .fa-cart-shopping,
.header .header-container nav .icon .fa-user{
    margin-left: 5px;
}
.bg-image .image{
    background-image: url(images/home-image.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100%;
    width: 85%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image .image .txt{
    text-align: center;
    color: #ECECEC;
    font-family: 'Poppins', sans-serif;
    /* background: rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    padding: 1% 2%;
}
.bg-image .image .txt .greeting{
    font-size: 75px;
    letter-spacing: 3px;
}
.bg-image .image .txt .shop{
    height: 40px;
    width: 130px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
}
.bg-image .image .txt .shop:hover{
    background-color:#3C486B;
    transition: 0.5s;
}
.bg-image .social-medias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg-image .social-medias i{
    height: 50px;
    font-size: 30px;
}
.bg-image .social-medias .fa-facebook{
    color: #0165E1;
}
.bg-image .social-medias .fa-twitter{
    color: #00acee;
}
.bg-image .social-medias .fa-instagram{
    color: #fa7e1e;
}

section{
    width: 100%;
    background-color:#ECECEC;
}
.section-txt{
   text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container .section-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 100px;
    padding-top: 10px;
}
img{
    height: 100%;
    width: 100%;
}
.container .section-content .women,
.container .section-content .kids,
.container .section-content .men{
    position: relative;
}
.container .section-content .kids:hover img,
.container .section-content .women:hover img,
.container .section-content .men:hover img{
   opacity: 0.3;
}
.container .section-content p{
    position: absolute;
    left:50%;
    top: 50%;
    opacity: 0;
    transition: 0.5;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3C486B;
    font-size: 3rem;
}
.container .section-content .women:hover p,
.container .section-content .kids:hover p,
.container .section-content .men:hover p{
    opacity: 1;
 }